* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: black;
    font-family: "Inter", serif;
  }
html{
    font-size: 62.5%;
}

/*DIMENSÕES HEADER/BANNER*/
header{
    display: flexbox;
    height: 50rem;
    width: 100%vw;
    max-width: 128rem;
    overflow: hidden;
    background: 
    linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.24) 50%),
    url("./assets/img/background.jpeg") no-repeat center/cover;
}

/*MENU SUPERIOR*/
.menu{

    padding: 2rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #070606b2, rgba(77, 71, 68, 0));
    overflow: hidden;
    height:5rem ;
    width: 100%vw;
    max-width: 128rem;
}
.imgmenu img{
    margin-right: 5rem;
    margin-left: 2rem;
    height:8rem ;
    width: auto;
}
.menu a{
    color: whitesmoke;
    font-size: 1.3rem;
}
.menubot{
    text-decoration:none;
    margin-right: 3.5rem;
}

.menubot2{
    padding: .5rem;
}
.notf{
    margin-left: 45rem;
}
.menubot2 img{
 height: 2rem;
}

/* Foto do usuário selecionado */
.user-menu img {
    margin-left: 1rem;
    width: 4rem;
    border-radius: .8rem;
    border: 2px solid white;
    transition: transform 0.3s;
}

.user-menu img:hover {
    transform: scale(1.1);
}

/* Dropdown oculta por padrão */
.dropdown {
    color: antiquewhite;
    display: none;
    position: absolute;
    top: 4.5rem;
    right: 0;
    background: #141414;
    border-radius: .8rem;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    padding: 10px;
    cursor:pointer;
    width: 180px;
}

/* Estiliza as opções da lista */
.user-option {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: .8px;
    transition: background 0.3s;
}
.user-option img {
    width: 25px;
    height: 25px;
    border-radius: .8rem;
}
.user-option:hover {
    background: #333;
}

/*BANNER E BOTÕES PRINCIPAIS*/
.banner img{
    margin-top: 8rem;
    margin-left: 8rem;
    margin-bottom: 1rem;
    width: 40rem;
}
.home p{
    width: 40rem;
    margin-left: 8rem;
    margin-bottom: 3rem;
    color: whitesmoke;
    font-size: 1.7rem;
}
.botoes{    
    align-items: center; 
    display: flex; 
    gap: 2rem;
    margin-left: 8rem;
    width: 50rem;
}
.botoes img{
    width: 2.5rem;
}
.but1{
all: unset;
font-family: "Inter", serif;
font-size: 1.8rem;
font-weight: 500;
color: rgb(0, 0, 0);
display: flex;              
align-items: center;    
background-color: rgb(255, 255, 255);
padding: 1.2rem 2.5rem;
gap: 8px;                  
border-radius: .4rem;
}
.but1:hover{
    transition: .3s;
    cursor: pointer;
    background-color: rgb(221, 213, 213);
}
.but2{
    all: unset;
    font-family: "Inter", serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    display: flex;              
    align-items: center;    
    background-color: rgba(75, 72, 72, 0.781);
    padding: 1.2rem 2.5rem;
    gap: 10px;                  
    border-radius: .4rem;
    }
    .but2 img{
        filter: invert(100%);
    }
    .but2:hover{
        transition: .3s;
        cursor: pointer;
        background-color: rgb(53, 52, 52);
    }

/*caixa series*/

 .box{
        padding: 2rem;
    }
.box h1{
    color: white;
}

.gallery{
    display: flex;
    align-items: center;
    align-content:bottom;
    gap: 1rem;
    max-width: 128rem;
    height: 18rem;
    overflow-x: scroll;
    overflow-y: hidden  ;
    white-space: nowrap; 
    scrollbar-width: none;
}
#scroll-left{
    all: unset;
    background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0.048));
    position: absolute;
    left: 1px; /* Lateral esquerda */
    z-index: 10;
    color: white;
    padding: 8rem 7rem;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, opacity 0.3s;
}

#scroll-right{
    background: linear-gradient(to left,#000000, rgba(41, 39, 39, 0));
    position: absolute;
    border: none;
    right: 1px; /* Lateral esquerda */
    z-index: 10;
    color: white;
    padding: 8rem 7rem;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, opacity 0.3s;
}
section {
         
        position: relative;
        display: flex;
        align-items: center;
        max-width: 128rem;
        height: 20rem;
        scrollbar-width: none;
        overflow-x: scroll;
        overflow-y: hidden  ;
        }
        
.serie{
        padding: 0 2px;
        transition: 250ms all;
      }
      
      .-animation:hover {
        margin: 0 4rem;
        transform: scale(1.2);
      }
.serie img{
    height: 13rem;
    width: 26rem;
}



 